body{
    background-color: rgb(234, 191, 212);
}
h1{
    background-color: rgb(230, 193, 237);
}
h2{
    background-color: rgb(237, 198, 218);
}
p{
    background-color: rgb(215, 181, 217);
}
